<main>
    <form>
      <div class="box">
          <div class="form-group">
              <label for="nome">
                  Código:
              </label>
              <input class="form-control" type="text" name="codEscola"
                ng-model="codEscola" 
                placeholder="Código da Escola"/>

              <label for="nome">
                  Ano:
              </label>
              <input class="form-control" type="text" name="ano"
                ng-model="ano" placeholder="Ano da Avaliação"/> 

              <label for="nome">
                  Tipo:
              </label>
              <input class="form-control" type="text" name="tipo"
                ng-model="tipo" placeholder="Tipo da Avaliação"/> 

          </div>

          <button type="button" class="btn btn-primary btn-lg btn-block"
            ng-click="listarAvaliacoesPorAnoTipo(codEscola, ano, tipo)">
              Pesquisar
          </button>
      </div>

      <!-- Tabela da Escola -->
      <div class="box">
          <table class="table table-hover">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Ano</th>
                      <th scope="col">Valor</th>

                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td scope="row">{{avaliacaoPorAnoTipo.tipoAvaliacao.cod}}</td>
                      <td scope="row">{{avaliacaoPorAnoTipo.tipoAvaliacao.nome}}</td>
                      <td scope="row">{{avaliacaoPorAnoTipo.ano}}</td>
                      <td scope="row">{{avaliacaoPorAnoTipo.valor}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </form>
</main>